<th:block xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:fragment="end">
    <script src="../static/js/myscripts.js" th:src="@{/js/myscripts.js}"></script>
    <script th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
<!--    <script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/nice-select.min.js}"></script>
    <script th:src="@{/js/jquery.form.js}"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

</th:block>
<th:block layout.fragment="other_end">

</th:block>
