<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}" with:title="'Create a new Tour'">
<th:block layout:fragment="content">

<style>
    .error{
        color: red;
    }
</style>
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_4">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Create a new tour</h3>
                        <p>Please fill out all necessary information!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- Start Sample Area -->
    <section class="sample-text-area">
        <div class="container box_1170">
            <div class="col-lg-8 col-md-8">
                <h3 class="mb-30">New Tour information</h3>
                <form th:action="@{/admin/tour/new}" method="POST" th:object="${newTour}">
                    <div class="mt-10">
                        <label for="title">Τίτλος</label>
                        <input type="text" name="title" placeholder="Τίτλος" id="title" th:field="*{place}"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Τίτλος'"
                               class="single-input">
                        <label for="title" class="error"
                               th:if="${#fields.hasErrors('place')}"
                               th:errors="*{place}">place ERROR</label>
                    </div>
                    <div class="mt-10">
                        <label for="subtitle">Υπότιτλος</label>
                        <input type="text" name="subtitle" placeholder="Υπότιτλος" id="subtitle" th:field="*{region}"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Υπότιτλος'"
                               class="single-input">
                        <label for="subtitle" class="error"
                               th:if="${#fields.hasErrors('region')}"
                               th:errors="*{region}">region ERROR</label>
                    </div>
                    <div class="mt-10">
                        <label for="days">Αριθμός ημερών</label>
                        <input type="text" name="days" placeholder="Αριθμός ημερών" id="days" th:field="*{days}"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Αριθμός ημερών'" required
                               class="single-input">
                        <label for="days" class="error"
                               th:if="${#fields.hasErrors('days')}"
                               th:errors="*{days}">days ERROR</label>
                    </div>
                    <div class="input-group-icon mt-10">
                        <div class="icon"><i class="fa fa-eur" aria-hidden="true"></i></div>
                        <input type="text" name="price" placeholder="Κόστος" id="price" th:field="*{price}"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Κόστος'" required
                               class="single-input">
                        <label for="price" class="error"
                               th:if="${#fields.hasErrors('price')}"
                               th:errors="*{price}">price ERROR</label>
                    </div>
                    <p>
                        <div class="reset_btn">
                            <button class="boxed-btn4" type="submit">Save Tour</button>
                        </div>
                    </p>
                </form>
            </div>

        </div>
    </section>
    <!-- End Sample Area -->



<!--    <div class="bradcam_area bradcam_bg_3">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-xl-12">-->
<!--                    <div class="bradcam_text text-center">-->
<!--                        <h3>Create new tour</h3>-->
<!--                        <p>Please fill out all necessary information</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</th:block>
</html>
